<div class="blog-panel">
   <p>by<%= blog.user.name %></p>
  <div class="d-flex align-items-baseline border-bottom border-dark">
    <h2 class="fw-bolder"><%= blog.title %></h2>
    <p class="ms-3"><%= blog.updated_at %></p>
  </div>
  <div class="blogs-content-box">
    <p class="blogs-content"><%= blog.content %></p>
  </div>
  <p class="text-primary"><%= "#{blog.comments.count} コメント" %></p>
  <% unless blog.user == current_user %>
    <% if @favorite.present? %>
      <%= button_to 'お気に入り解除する', favorite_path(@favorite), method: :delete, class: 'btn btn-danger', params:{blog_id: blog.id} %>
    <% else %>
      <%= button_to 'お気に入りする', favorites_path, class: 'btn btn-warning text-white', data: { turbo: false }, params:{blog_id: blog.id} %>
    <% end %>
  <% end %>
</div>
