<div class="body-y-margin container w-50">
  <p class="notice"><%= notice %></p>
  <%= render @blog %>

  <%# コメント送る部分 %>

  <div class="comments ml-5 mt-5">
    <%= form_with(model: [@blog, @comment], local: true) do |f| %>
      <% if @comment.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

      <%= f.label :comment %>
      <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
      <%= f.hidden_field :blog_id, value: @blog.id %>
      <%= f.submit "投稿", class: "btn btn-success mb-4" %>
    <% end %>

    <p>コメント件数：<%= @comments.count %>/<%= @blog.comments.count%></p>
    <% @comments.each do |comment| %>
      <div class="comments-index mb-2">
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <div class="d-flex">
            <%= comment.comment %>
              <% if comment.user == current_user %>
                <div class="comment-delete">
                  <%= button_to "delete", blog_comment_path(comment.blog, comment), method: :delete, class: 'btn btn-danger',form: { data: { turbo_confirm: "Are you sure?" } } %>
                </div>
                <%= link_to "edit", edit_blog_comment_path(comment.blog, comment), class: 'btn btn-primary' %>
            </div>
        </div>
              <% end %>
    <% end %>
    <%= paginate @comments %>
      </div>
  </div>

  <%# コメント送る部分 %>

  <div class="lh-lg">
    <p class="links-style d-inline"><%= link_to "Edit this blog", edit_blog_path(@blog) %> |</p>
    <p class="links-style d-inline"><%= link_to "Back to blogs", blogs_path %></p>
    <div class="float-end">
      <%= button_to "delete", @blog, method: :delete, class: 'btn btn-danger',form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>

</div>