<div class="body-y-margin container w-50">
  <p class="notice"><%= notice %></p>
  <%= render @blog %>
  <div class="lh-lg">
    <p class="links-style d-inline"><%= link_to "Edit this blog", edit_blog_path(@blog) %> |</p>
    <p class="links-style d-inline"><%= link_to "Back to blogs", blogs_path %></p>
    <div class="float-end">
      <%= button_to "Destroy this blog", @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
