<header>
<div class="d-flex justify-content-between">
  <div class="menu d-flex">
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "blogs", blogs_path %></p>
    <p><%= link_to "contact", new_contact_path %></p>
  </div>
  <div class="my_menu d-flex">
     <% if user_signed_in? %>
     <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
     <p><%= link_to "プロフィール編集", edit_user_registration_path, method: :delete %></p>
     <% end %>
  </div>
</div>

</header>
